.menulists {
	margin-top: 30px;
	display: flex;
	align-items: baseline;
  gap: 20px;	
}

a.active {
	text-decoration: underline;
	font-weight: bold;
}

.addpage {
	width: 250px;
}

.menulistBtn {
	display: flex;
	justify-content: center;
  gap: 5px;
	display: none;
}

.menulistItem:hover .menulistBtn {
	display: flex;
}
.pageEdit, .pageRemove, .pageSave {
	display: block;
	width: 18px;
	height: 18px;
	background: none no-repeat center center;
	background-size: 100%;
	border: 0;
	cursor: pointer;
	padding: 0;
	opacity: 1;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.7;
	}
}

.pageEdit {
	background-image: url('./images/edit.svg');
}

.pageRemove {
	background-image: url('./images/trash.svg');
}

.pageSave {
	background-image: url('./images/check.svg');
}
